<div class="contenedor">
  <div class="circulo">
    <div class="detalles">
      <div class="temperatura">
        <div class="columnadatos">
          <div>
            <p class="grados">37°</p>
            <span>Clear</span>
          </div>
          <div>
            <span>
              <p>humidity</p>
              <p>44%</p>
            </span>
            <span>
              <p>kind</p>
              <p>2 km/h</p>
            </span>
          </div>
        </div>

        <div class="columnanombre">
            <h3>Aguascalientes</h3>
        </div>
      </div>
    </div>
    <div class="pronostico">por</div>
  </div>
</div>
